<html>
<head><title>test</title></head>
<body>
{% for user in users %}
    <p>{{ user.getUsername }}
        {% for role in user.getRoles %}
            <p>{{ role }}</p>
        {% endfor %}
    </p>
{% endfor %}
{% for user in users %}
    <p>{{ user.getUsername }}
    {% for role in user.getRoles %}
        <h1>{{ role }}</h1>
    {% endfor %}
    </p>
{% endfor %}
</body>
</html>