@import '../../node_modules/Leaflet.vector-markers/dist/leaflet-vector-markers';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
