<html>
<head>
    <title>login</title>
</head>
<body>
    <form action="{{ path("login") }}" method="post">
        <label for="username">
            USERNAME:
        </label>
        <input type="text" id="username" name="_username">
        <label for="password">
            PASSWORD:
        </label>
        <input type="password" id="password" name="_password">
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>